html, body {
	font-size: 12px;
}

body {
	width: 95%;
	max-width: 1000px;
	min-width: 150px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	/* border: 1px solid black; */
}

#mainHeader {
	text-align: center;
}

#catchPhrase {
	text-align: center;
	font-size: 1.3rem;
}

/* H4s INSIDE HEADERS - these are now invisible*/
nav header, main section header {
	border: 2px solid greenyellow;
	/*display: inline reduces its box size*/
	display: inline;
}

/* Inlining it makes it thinner (why?) */

nav header>h4, main section header>h4 {
	/*inherits inline from parent (nav header)*/
	display: inherit;
}

/* TOP LEVEL NAV */
nav {
	/* Having margin left and right auto centers any element: each side tries to take as much space as possible; width=90% leaves the space around */
	width: 90%;
	margin: 0 auto;
	background-color: lightgray;
	/* border: 1px solid saddlebrown;this throws all off */
	
}

/* nav FLEX*/
ul.flex-container1 {
	display: flex;
	list-style-type: none;/* no bullets */
	/* border: 2px solid blue; */
	/* align-items: flex-end; */
	/* justify-content: space-evenly; */
	flex-wrap: wrap;
	/*apparently ul adds the indentation, therefore padding = 0 is needed*/
	padding: 0;
	/* border: 2px solid violet; */
}

.flex-container1 li {
	flex: 1 0 auto;
	/* border: 1px dashed aqua; */
	text-align: center;
}

li.nav-li a{
	/* border: 1px dashed red; */
	text-decoration: none;
	/*padding affects from inside*/
	padding: 5px;
	display: block;
}

li.nav-li a:hover {
	background-color: lightblue;
}

/* DIV FLEX */

.flex-container2 {
	display: flex;
	border: 2px solid blue;
	padding: 10px;
	flex-wrap: wrap;
	align-content: center;
}

.flex-container2 div {
	border: 1px dashed red;
	padding: 10px;
	margin: auto;
	width: 45%;
	text-align: center;
}

.flex-container2 img {
	/* max-width: 400px;
    min-width: 75px; */
	/* width: inherit;
    height: inherit; */
	width: 100%;
	/* height: 400px; */
}

/* Selects direct descendent of type section every 2n */

/* Flips order of text and image */

main section:nth-of-type(2n)>div {
	flex-direction: row-reverse;
	/* background-color: lightcoral; */
}

/* ASIDE */
/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */

header.invisibleHeader {
	clip-path: inset(100%);
	clip: rect(1px 1px 1px 1px);
	/* IE 6/7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	/* added line */
	width: 1px;
}

header.offscreen:focus {
	position: relative;
	clip: auto;
	width: auto;
	height: auto;
	overflow: auto;
}